* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainBlue: #99d9ea;
$mainWhite: #fff;
$mainGrey: #ececec;

body {
  background: $mainWhite;
  color: $mainBlue;
  font-family: 'Open Sans', sans-serif;
}
